<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>BucketListing - Home Page</title>

  <!-- External CSS Placeholder-->
  <!-- <link rel="stylesheet" href="the h ref" type="text/css"> -->

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS -->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- For Mobile Sizing-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%- include('./partials/_header') %>
    <main>
      <article id="create-todo">
        <form id="new-todo" action="/todos/new" method="POST">
          <h3>What do you want todo,  <%=username%>?</h3>
            <div>
              <label for="todo">Goal:</label>
              <input type="text" id="todo-name" name="todo" placeholder="Name only, please!">
            </div>
            <div>
              <label for="note">Notes (optional):</label>
              <input type="text" name="note" placeholder="Got details?">
            </div>
            <button type="submit">List it!</button>
          </form>
      </article>
      </main>

</body>

</html>
