<head>
  <!-- Meta Information -->
  <title>BucketListing - Home Page</title>

  <!-- External CSS Placeholder-->
  <!-- <link rel="stylesheet" href="the h ref" type="text/css"> -->

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS -->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- For Mobile Sizing-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%- include('partials/_header') %>
    <main class="first-main">
    <div class="category-todo-container">
      <%for (const todo of todos) {%>
        <span> <%=todo.name%> </span>
        <%}%>
        <!DOCTYPE html>
        <html lang="en">

      </div>
    </div>
  </main>
</body>

</html>
