body {
  background-color: rgba(255, 225, 193, 0.289);
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");

  h1 {
    color: #244751;
  }
}

a {
  text-decoration: none;
  color: $light-text;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

main.first-main {
  margin-top: 80px;
}

#watch {
  background-color: $watch;
  border-color: $watch;
  border-radius: 5px;
  color: $light-text;
}
#watch:hover {
  background-color: $watch-light;
}
#eat {
  background-color: $eat;
  border-radius: 5px;
  border-color: $eat;
  color: $light-text;
}
#eat:hover {
  background-color: $eat-light;
}
#read {
  background-color: $read;
  border-color: $read;
  border-radius: 5px;
  color: $light-text;
}
#read:hover {
  background-color: $read-light;
}
#buy {
  background-color: $buy;
  border-color: $buy;
  border-radius: 5px;
  color: $light-text;
}
#buy:hover {
  background-color: $buy-light;
}
#miscellaneous {
  background-color: $misc;
  border-color: $misc;
  border-radius: 5px;
  color: $light-text;
}
#miscellaneous:hover {
  background-color: $misc-light;
}
