// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}
// placeholders, add variables later
.nav-bar nav {
  #logo {
    font-style: italic;
    font-style: bold;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(255, 174, 76);
  height: 81px;
  padding: 10px;
  a {
    text-decoration: none;
    background-color: rgb(247, 95, 14);
    color: rgb(255, 255, 255);
    padding: 20px;
    @media (max-width: 450px) {
      padding-left: 3px;
      padding-right: 3px;
    }
    @media (min-width: 451px) and (max-width: 649px) {
      padding-left: 7px;
      padding-right: 7px;
    }
    @media (min-width: 650px) {
      font-size: 1.8em;
    }
  }
}

.categories-container {
  width: 600px;
  padding-top: 10%;
  border-radius: 5px;
  margin: auto;
  display: table;
  table-layout: fixed;
  @media (max-width: 450px) {
    padding-left: 3px;
    padding-right: 3px;
  }
  @media (min-width: 451px) and (max-width: 649px) {
    padding-left: 7px;
    padding-right: 7px;
  }
  @media (min-width: 650px) {
    font-size: 1.8em;
  }

  a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: .6em;
      padding-right: .6em;
      background-color: rgb(247, 95, 14);
      color: white;
      border-radius: 5px;
      box-shadow: 2px 2px 1px #888888;
      clear:right;
      float:right;
      text-decoration: none;
      text-transform: uppercase;
      border: 5px solid rgb(247, 95, 14);
      text-align: center;
      font-weight: bold;

   }

   a:hover {
    background-color: rgb(255, 174, 76);
  }

}

main.first-main {
  margin-top: 80px;
}

#todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    margin-top: 0px;
    position: sticky;
    top: 80px;
    background-color: #eaf0f5;
  }
  h3 {
    color: #4394a7;
    margin-top: 5px;
  }
  h2 {
    color: white;
  }
}

.todo-info {
  text-align: center;
  background-color: rgb(255, 174, 76);
  width: 80%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  border: 2px solid black;
  border-radius: 10px;
  height: 100px;
}

.todo-info:hover  {
  background-color: #e4750dda;
}
