$main-bold: rgb(31, 57, 204);
$main-light: rgb(0, 193, 173);
$read: rgb(219, 47, 199);
$read-light: lighten(saturate($read, 100%), 20%);
$buy: rgb(65, 187, 25);
$buy-light: lighten(desaturate($buy, 5%), 6%);
$eat: rgb(211, 25, 18);
$eat-light: lighten(saturate($eat, 100%), 10%);
// $eat-light: lighten($eat, 9%);
$watch: rgb(93, 31, 140);
$watch-light: lighten($watch, 20%);
$misc: rgb(228, 101, 10);
$misc-light: lighten(saturate($misc, 100%), 10%);
$light-text: #fff;
